body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #3ed3ed;
}

h1 {
  color: #333;
}

section {
  margin-bottom: 20px;
  background: #f1f1dd;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input {
  margin: 5px;
  padding: 8px;
  width: 200px;
}

button {
  padding: 8px 12px;
  margin-top: 10px;
  cursor: pointer;
}

pre {
  background: #eaeaea;
  padding: 10px;
  border-radius: 5px;
}
